@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@font-face {
  font-family: "Mona-Sans";
  src: url("./fonts/MonaSans.woff2") format("woff2");
}

/* :root {
	
  --account-center-position-right:0px;
} */



#wrapper-el{
  height: 80px;
  position: absolute;
  display: flex;
  top: 0;
  align-items: center;
  width: 100%;
  justify-content: center;
  }
  #container-el{
  position: relative;
  display: flex;
  max-width: 1280px;
  width:90%;
  height: 100%;
  justify-content: flex-end;
  padding-top: 10px;
  }
  #onboard-container{
    position: fixed;
    width: 315.77px;
    z-index: 300;
    /* contain: layout; */
  }
  
  @media (max-width: 767px) {
    #container-el {
        display: none;
    }

  }

    :root{
      --w3o-background-color:#000000 !important;   
      --account-center-z-index:300;
      --account-center-position-top: -0.7rem;
    }
    
