@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@font-face {
  font-family: "Mona-Sans";
  src: url("./fonts/MonaSans.woff2") format("woff2");
}

/* :root {
	
  --account-center-position-right:0px;
} */


#wrapper-el {
  height: 80px;
  position: absolute;
  display: flex;
  top: 0;
  align-items: center;
  width: 100%;
  justify-content: center;
}

#container-el {
  position: relative;
  display: flex;
  max-width: 1280px;
  width: 90%;
  height: 100%;
  justify-content: flex-end;
  padding-top: 10px;
}

#onboard-container {
  position: fixed;
  width: 315.77px;
  z-index: 300;
  /* contain: layout; */
}

@media (max-width: 767px) {
  #container-el {
    display: none;
  }

}

:root {
  --primary-text-color: rgba(0, 0, 0, 1);

  /* CUSTOMIZE ACCOUNT CENTER*/
  --account-center-z-index: 300;
  --account-center-position-top: -0.7rem;
  --account-center-maximized-address-color: var(--primary-text-color);
  --account-center-maximized-network-text-color: var(--primary-text-color);

  /* CUSTOMIZE SECTIONS OF THE CONNECT MODAL */
  --onboard-connect-content-height: 360px;
  --onboard-connect-sidebar-color: var(--primary-text-color);
  --onboard-connect-sidebar-progress-background: rgba(217, 217, 217, 1);
  --onboard-connect-sidebar-progress-color: var(--primary-text-color);
  --onboard-connect-header-color: var(--primary-text-color);
  --onboard-link-color: var(--primary-text-color);
  --onboard-wallet-button-background: rgba(242, 242, 242, 1);
  --onboard-wallet-button-background-hover: rgba(220, 220, 220, 1);
  --onboard-wallet-button-color: var(--primary-text-color);
  --onboard-wallet-button-border-radius: 4px;

  /* FONTS */
  --onboard-font-family-normal: 'Mona-Sans';
}